@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #333;
}

.header {
    background: #d60000;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
}

.card {
    width: 280px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(214, 0, 0, 0.25);
    text-align: center;
    border-top: 5px solid #e60000;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #e60000;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #b00000;
}

.role {
    font-weight: bold;
    color: #ff3333;
    margin-bottom: 12px;
}

.card button {
    background: #e60000;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: 0.2s;
}

.card button:hover {
    background: #b30000;
}