:root {
    --red: #D32F2F;
    --red-dark: #B71C1C;
    --light: #f8f8f8;
    --text: #1e1e1e;
    --border: #ddd;
    --shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

body {
    font-family: "Open Sans", sans-serif;
    background: var(--light);
    margin: 0;
}

.header {
    background: var(--red);
    color: white;
    padding: 30px;
    text-align: center;
}

.logo-area h1 {
    margin: 0;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 15px;

}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;
    background: #fff3f3;
    color: var(--red-dark);
    font-size: 30px;


}

.info-text {
    background: #fff3f3;
    color: var(--red-dark);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 22px;
    border-radius: 12px;
    border-color: #B71C1C;
    margin-bottom: 25px;
    line-height: 1.6;
    box-shadow: var(--shadow);
}

.warning-icon {
    font-size: 32px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: var(--shadow);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 15px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--border);
    font-size: 15px;
    transition: 0.3s;
}

select:focus,
input:focus,
textarea:focus {
    border-color: var(--red);
    outline: none;
}

textarea {
    resize: vertical;
}

.select-box {
    position: relative;
    background: white;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

.select-box .options {
    display: none;
    margin-top: 8px;
    background: white;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.option {
    padding: 12px;
}

.option:hover {
    background: var(--light);
}

.error {
    color: red;
    font-size: 14px;
    margin: 4px 0 0;
}

.success {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.btn {
    width: 100%;
    background: var(--red);
    color: white;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover {
    background: var(--red-dark);
}

.row {
    display: flex;
    gap: 15px;
}

.row div {
    flex: 1;
}

/* FAQ */
.faq-section {
    max-width: 700px;
    margin: 50px auto 100px auto;
    padding: 0 15px;
}

.faq-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.faq-item {
    border-bottom: 1px solid var(--border);
    margin-bottom: 10px;
}

.faq-question {
    background: var(--red);
    color: white;
    border: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
}

.faq-question:hover {
    background: var(--red-dark);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #fff;
    padding: 0 15px;
}

.faq-answer p {
    margin: 10px 0;
}


section {
    background: #fff3f3;
}